.share-section {
  background-color: var(--secondary-color);
}

.share-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  gap: 1em;
  margin-top: 1em;
}

.qr-item {
  text-align: center;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 210px;
  margin: 0 auto;
  background: var(--primary-color);
}

.qr-code {
  margin-bottom: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

p {
  font-size: 12px;
  color: var(--accent-color);
  word-break: normal;
}

@media (min-width: 768px) {
  .share-content {
    flex-direction: row;
  }
}
